@{
    Layout = null;
    Shangpin.Ocs.Entity.Extenstion.ShangPin.SWfsMeetingRelationRegionContent obj = null;
    string VenueHrefUrlShow = "http://m.shangpin.com/icfaction!ifcindex?id={0}&MeetingNO={1}&ClickRegionID={2}";
    string ShangpinActiveHrefUrlShow = "http://m.shangpin.com/merchandiseaction!splist?ch=4&topicid={0}&MeetingNO={1}&ClickRegionID={2}";
    string AoLaiActiveHrefUrlShow = "http://m.aolai.com/merchandiseaction!list?ch=3&activityId={0}&pageType=01&typeFlag=1&MeetingNO={1}&ClickRegionID={2}";
    string AoLaiSpecialHrefUrlShow = "http://m.aolai.com/merchandiseaction!list?ch=3&activityId={0}&pageType=03&typeFlag=0&MeetingNO={1}&ClickRegionID={2}";
}
@model IEnumerable<Shangpin.Ocs.Entity.Extenstion.ShangPin.SWfsMeetingRelationRegionContent>


<ul class="ifcList clr">
    @for (int i = 1; i <= 132; i++)
    {
        if (Model.Count(p => p.RegionID == i) == 1)
        {
            obj = Model.Single(p => p.RegionID == i);
            <li opratorRegion="@i" relationtype="@obj.RelationType" @(obj.RelationType == 2 ? "class=txtBox" : null)>
            @switch (i)
	                {
                        case 1:
                            <a id="youdapai" name="youdapai"></a>
                            break;
                            case 17:
                            <a id="bigBrand" name="bigBrand"></a>
                            break;
                            case 37:
                            <a id="xiangbao" name="xiangbao"></a>
                            break;
                            case 53:
                            <a id="nvzhuang" name="nvzhuang"></a>
                            break;
                            case 69:
                            <a id="nanzhuang" name="nanzhuang"></a>
                            break;
                            case 85:
                            <a id="xiexue" name="xiexue"></a>
                            break;
                            case 101:
                            <a id="wanbiao" name="wanbiao"></a>
                            break;
                            case 117:
                            <a id="meizhuang" name="meizhuang"></a>
                            break;
                    }
            @switch (obj.RelationType)
            {
                case 1:
                    
                    <a href="@(string.Format(VenueHrefUrlShow, obj.RelationContent, obj.MettingNO, i))" >
                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 460))"/></a>
                           break;
                case 2:
                           if (obj.WebSite == 1)
                           {
                        <a href="@(string.Format(ShangpinActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))" >
                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 286, 360))"/>
                            <p>
                                <em>@obj.ActiveName</em>
                                <b>@obj.ActiveChildName</b>
                                <span class="saleTxt">
                                @switch (obj.PriceType)
                                {
                                    case 1:
                                                    @Html.Raw("￥<i>" + obj.PriceName + "</i>起")
                                               break;
                                    case 2:
                                                @Html.Raw("￥<i>" + obj.PriceName + "</i>封顶")
                                           break;
                                    case 3:
                                                @Html.Raw("<i>" + obj.PriceName + "</i>折起")
                                           break;
                                    case 4:
                                                @Html.Raw("<i>" + obj.PriceName + "</i>折封顶")
                                           break;
                                    case 5:
                                                @Html.Raw("低至<i>" + obj.PriceName + "</i>折")
                                           break;
                                    case 6:
                                                @Html.Raw("低至￥<i>" + obj.PriceName + "</i>")
                                           break;
                                    case 7:
                                                @Html.Raw("直降￥<i>" + obj.PriceName + "</i>")
                                           break;
                                    case 8:
                                                @Html.Raw("最高降￥<i>" + obj.PriceName + "</i>")
                                           break;
                                    case 9:
                                                @Html.Raw("全场￥<i>" + obj.PriceName + "</i>")
                                           break;
                                    case 10:
                                                @Html.Raw("全场<i>" + obj.PriceName + "</i>折")
                                           break;
                                    case 11:
                                                @Html.Raw("满减￥<i>" + obj.PriceName + "</i>")
                                           break;
                                    case 12:
                                                @Html.Raw("全场狂欢")
                                           break;
                                }
                                </span>
                            </p>
                        </a>
                           }
                           else
                           {
                               if (obj.IsActive == 0)
                               {
                            <a href="@(string.Format(AoLaiSpecialHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))" >
                                <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 286, 360))"/>
                                <p>
                                    <em>@obj.ActiveName</em>
                                    <b>@obj.ActiveChildName</b>
                                </p>
                            </a>
                               }
                               else
                               {
                            <a href="@(string.Format(AoLaiActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))" >
                                <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 286, 360))"/>
                                <p>
                                    <em>@obj.ActiveName</em>
                                    <b>@obj.ActiveChildName</b>
                                    <span class="saleTxt">
                                            @switch (obj.PriceType)
                                            {
                                                case 1:
                                                    @Html.Raw("<i>" + Math.Round(Convert.ToDecimal(obj.PriceName), 0) + "</i>折起")
                                               break;
                                                case 3:
                                                    @Html.Raw("全场<i>" + Math.Round(Convert.ToDecimal(obj.PriceName), 0) + "</i>折")
                                               break;
                                                case 4:
                                                    @Html.Raw("全场￥<i>" + obj.PriceName + "</i>")
                                               break;
                                                case 5:
                                                    @Html.Raw("￥<i>" + obj.PriceName + "</i>起")
                                               break;
                                            }
                                    </span>
                                </p>
                            </a>
                               }
                           }
                           break;
                case 3:
                           if (obj.RelationContent.IndexOf('#') >= 0)
                           {
                        <a id="@obj.RelationContent.Substring(1)" name="@obj.RelationContent.Substring(1)"></a>
                        <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 460))"/>
                           }
                           else
                           {
                        <a href="@(obj.RelationContent)" >
                        <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 460))"/></a>
                           }
                           break;
                case 4:
                    <li opratorRegion="@i" relationtype="@obj.RelationType"></li>
                                                    break;
                default:
                                                    break;
            }
                
            </li>
        }
        else
        {
            <li opratorRegion="@i" relationtype="3">
                @switch (i)
                {
                    case 1:
                            <a id="youdapai" name="youdapai"></a>
                        break;
                    case 17:
                            <a id="xiangbao" name="xiangbao"></a>
                        break;
                    case 33:
                            <a id="bigBrand" name="bigBrand"></a>
                        break;
                    case 53:
                            <a id="nanzhuang" name="nanzhuang"></a>
                        break;
                    case 69:
                            <a id="nvzhuang" name="nvzhuang"></a>
                        break;
                    case 85:
                            <a id="xiexue" name="xiexue"></a>
                        break;
                    case 101:
                            <a id="wanbiao" name="wanbiao"></a>
                        break;
                    case 117:
                            <a id="meizhuang" name="meizhuang"></a>
                        break;
                }
            </li>
        }
    }
</ul>
