@using Shangpin.Entity.Wfs;
@{
    ViewBag.Title = "首页布局管理";
    Layout = "~/Areas/Shangpin/Views/Shared/_Layout.cshtml";
}
@section HeadScript{
    <script src="/Areas/Shangpin/Scripts/lib/jquery.form.js" type="text/javascript"></script>
    <script src="/Areas/Shangpin/Scripts/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
    <script src="/Areas/Shangpin/Scripts/Venue/jquery.form.js" type="text/javascript"
            charset="utf-8"></script>
    <script>
        $(function () {
            //同值逻辑 值互换
            $("select[moduleid]").live({
                click: function () { $(this).attr("old", $(this).val()) },
                change: function () {
                    
                    var val = $(this).val();
                    var moduleid = $(this).attr("moduleid");
                    var theSame = new Array();
                    $("select[moduleid]").each(function (i, n) {
                        if ($(n).val() == val && $(n).attr("moduleid") != moduleid)
                            theSame.push(n);
                    })
                    if (theSame.length > 0 && $(theSame[0]).val() != $(this).attr("old"))
                        $(theSame[0]).val($(this).attr("old"));
                }
            })
        })
        function doSubmit() {
            var obj = {};
            var flag = true;
            var inputArr = new Array();
            $("select[moduleid]").each(function (i, n) {
                if (($(n).val() + "floor") in obj) {
                    flag = false;
                    inputArr.push(n);
                } else {
                    obj[$(n).val() + "floor"] = $(n).attr("moduleid") + "_" + $(n).val() + "_" + $(n).parent().find("input[type=radio]:checked").val();
                }
            })
            if (flag) {
                $.ajax({
                    url: "/shangpin/homepage/SaveFloorSort",
                    data: obj,
                    type: "post",
                    success: function (result) {
                        if (result.status == 1) {
                            alert("保存楼层排序成功");
                            if (confirm("返回首页管理列表?")) {
                                location.href = "/shangpin/homepage/HomeManager";
                            }
                        } else {
                            if (result.message) {
                                alert(message);
                            } else {
                                alert("操作失败请稍后再试");
                            }
                        }
                    }
                })
            } else { tipError(inputArr); }
        }
        function tipError(inputArr) {
            $(inputArr).each(function (i, n) {
                var $n = $(n);
                $n.attr("onfocus", "$('select[moduleid]').css('border',$(this).attr('oldborder'));");
                $n.attr("oldborder", $n.css("border"));
                $n.css("border", "1px solid red");
            })
        }
    </script>
}
@section HeadStyle
{
    <style type="text/css">
        .hotblock {
            display: none;
        }

        .titleColor, span {
            color: Red;
        }

        .mx-rightcontent-msgbox .border_dl dt {
            width: 350px;
            padding-right: 10px;
            text-align: right;
            font-size: 14px;
        }

        .mx-rightcontent-msgbox .border_dl {
        }

            .mx-rightcontent-msgbox .border_dl dd {
                width: 500px;
                margin-bottom: 8px;
            }
    </style>
}
<h1>
    OCS > 尚品 > 首页管理>首页布局管理
</h1>
<hr style="border: 1px solid Black; border-left: none; border-right: none; height: inherit;" />
<!-- 添加活动 start -->
<div id="mx-rightcontent-addbox" class="mx-rightcontent-msgbox">
    <form id="formAddFloor" action="/shangpin/homepage/HomeManager_FloorLinkSet.html" method="post">

        <input type="hidden" id="moduleId" name="moduleId" value="@ViewBag.moduleId " />

        <a>9个模块通过输入编号调整模块顺序，数字从1-9，相同的数字不能保存</a>
        <dl class="border_dl">

            @{
                List<SWfsIndexModule> sWfsIndexModules = ViewData["floors"] as List<SWfsIndexModule>;
                if (sWfsIndexModules == null)
                {
                    sWfsIndexModules = new List<SWfsIndexModule>();
                }
                for (int i = 0; i < sWfsIndexModules.Count; i++)
                {
                    if (sWfsIndexModules != null && sWfsIndexModules.Count > i)
                    {
                        <dt>@(Html.Raw(sWfsIndexModules.ElementAt(i).ADShowType == 3 ? "今日STYLE排序号" : sWfsIndexModules.ElementAt(i).ModuleName + "排序号"))：</dt>
                        <dd>
                            <select moduleid="@(sWfsIndexModules.ElementAt(i).ModuleId)">
                                @for (int j = 1; j <= sWfsIndexModules.Count; j++)
                                {
                                    <option value="@j" @(sWfsIndexModules.ElementAt(i).Sort == j ? "selected='selected'" : "")>@j</option>
                                }

                            </select>
                            <label for="show@(i)">   <input type="radio" @(sWfsIndexModules.ElementAt(i).Stutas == 1 ? "checked='checked'" : "") id="show@(i)" name="show@(i)" value="1" />显示</label>
                            <label for="hide@(i)"> <input type="radio" @(sWfsIndexModules.ElementAt(i).Stutas == 0 ? "checked='checked'" : "") id="hide@(i)" name="show@(i)" value="0" />隐藏</label>
                        </dd>
                    }
                }
            }

        </dl>

        <span class="error" style="display:none;"></span>
        <br />
        <div style="width:80%;text-align:center;">

            @if (sWfsIndexModules.Count > 0)
            {
                <button type="button" id="btnSave" name="" value="" class="secondary" onclick="doSubmit();">
                    确 定
                </button>
            }
            <button type="button" id="btnCancle" name="" value="" onclick="location.href = '/shangpin/homepage/HomeManager'">
                取 消
            </button>
        </div>
    </form>

</div>
