@model Shangpin.Ocs.Entity.Extenstion.ProductFlat.XMLReturnClassLists
@using Shangpin.Ocs.Entity.Extenstion.ProductFlat
@using Shangpin.Ocs.Service.Shangpin.ProductSort
@using Shangpin.Ocs.Web.Infrastructure;
@{
    ViewBag.Title = "App推荐商品";
    Layout = "~/Areas/Shangpin/Views/Shared/_AppRecommendLayout.cshtml";
    int pageIndex = !string.IsNullOrEmpty(Request.QueryString["pageIndex"]) ? int.Parse(Request.QueryString["pageIndex"].Trim()) : 1;
}
@section HeadStyle{
    <link type="text/css" rel="stylesheet" href="~/Areas/ProductFlat/Content/CSS/ProductIndex.css" />
    <style type="text/css">
        #ProductList a {
            background-color: #4d90fe;
            border: 1px solid #3079ed;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            margin: 0 15px 0 0;
            padding: 5px 10px;
            position: relative;
            text-decoration: none;
            transition: border-color 0.218s ease 0s;
        }
    </style>
}
@section HeadScript{
    <script type="text/javascript" src="/Areas/Shangpin/Scripts/lib/jquery.js" charset="utf-8"></script>
    <script type="text/javascript" src="/Areas/Outlet/Scripts/My97DatePicker/WdatePicker.js"></script>
    <script type="text/javascript">
        var cheAll = function (ischeck) {
            $("input:checkbox[name='productNo']").attr("checked", ischeck);
        }
        var IsSubmit = "1";
        function addSortproduct(productNo) {
            if (IsSubmit == "1") {
                IsSubmit == "2";
                $.post("/Shangpin/AppRecommendProductManger/AddProductToAppRecommondAjax", { "productNo": productNo }, function (data) {
                    alert("操作成功")
                    window.location.reload();
                });
            }
        }
        var resetformContent = function () {//重置
            $("#divMain input:text").val("");
            $("select").val("0");
            $("#divMain input:checkbox").removeAttr("checked");
            $("#textareaProductNo").val("");//情况多行文本框的值
            $("input[name='shelfType']").removeAttr("checked");
            $("#HotType").val("-1");
        }
        $(function () {
            $("#TxtMinPrice").blur(function () {
                if ($("#TxtMinPrice").val().length > 0) {
                    if (!($("#TxtMinPrice").val() >= 0)) {
                        $("#TxtMinPrice").val("0");
                    }
                }
            });
            $("#TxtMaxPrice").blur(function () {
                if ($("#TxtMaxPrice").val().length > 0) {
                    if (!($("#TxtMaxPrice").val() >= 0)) {
                        $("#TxtMaxPrice").val("0");
                    }
                }
            });
            $("#TxtMinStock").blur(function () {
                if ($("#TxtMinStock").val().length > 0) {
                    if (!($("#TxtMinStock").val() >= 0)) {
                        $("#TxtMinStock").val("0");
                    }
                }
            });
            $("#TxtMinStock").blur(function () {
                if ($("#TxtMinStock").val().length > 0) {
                    if (!($("#TxtMinStock").val() >= 0)) {
                        $("#TxtMinStock").val("0");
                    }
                }
            });
            $("#TxtMinDiscountRate").blur(function () {
                if ($("#TxtMinDiscountRate").val().length > 0) {
                    if (!($("#TxtMinDiscountRate").val() >= 0)) {
                        $("#TxtMinDiscountRate").val("0");
                    }
                }
            });
            $("#TxtMaxDiscountRate").blur(function () {
                if ($("#TxtMaxDiscountRate").val().length > 0) {
                    if (!($("#TxtMaxDiscountRate").val() >= 0)) {
                        $("#TxtMaxDiscountRate").val("0");
                    }
                }
            });
            //单击加入排序按钮
            $("#addSortProduct").click(function () {
                if ($("input[name='productNo']").filter(":checked").length > 0) {
                    $("#productForm").submit();
                } else {
                    alert("请选择加入推荐的商品");
                    return false;
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(function () {
            var requestProductNo = '@Request.QueryString["ProductNo"]';
            if (requestProductNo != "") {
                var reg = new RegExp(",", "g"); //创建正则RegExp对象
                requestProductNo = requestProductNo.replace(reg, "\n");
                $("#textareaProductNo").val(requestProductNo)
            }
            $("#ProductNo").focus(function () {//商品编号文本框绑定焦点事件
                var x = $(this)[0].offsetLeft;
                var y = $(this)[0].offsetTop;
                var h = $(this)[0].offsetHeight;
                $(".mod_tag").hide();
                $("#ProductNomod_tag").show("slow"); //显示div
                $("#ProductNomod_tag").css({ "top": y + h, "left": x });//设置DIV坐标
                CheckedChildCategory();
                CheckedBrandName();
                CheckedColorName();
            });
            //给商品品牌文本框绑定焦点事件
            $("#brandName").focus(function () {
                var x = $(this)[0].offsetLeft;
                var y = $(this)[0].offsetTop;
                var h = $(this)[0].offsetHeight;
                $(".mod_tag").hide();
                $("#BrandNamemod_tag").show("slow"); //显示div
                $("#BrandNamemod_tag").css({ "top": y + h, "left": x });//设置DIV坐标
                CheckedChildCategory();
                CheckedColorName();
                ProductNoAll();
            });
            //给子类别文本框绑定焦点事件
            $("#childCategoryname").focus(function () {
                var x = $(this)[0].offsetLeft;
                var y = $(this)[0].offsetTop;
                var h = $(this)[0].offsetHeight;
                CheckedBrandName();
                CheckedColorName();
                ProductNoAll();
                $(".mod_tag").hide();
                $("#childCategorymod_tag").show("slow"); //显示div
                $("#childCategorymod_tag").css({ "top": y + h, "left": x });//设置DIV坐标
            });
            //给色系文本框绑定焦点事件
            $("#colorName").focus(function () {
                var x = $(this)[0].offsetLeft;
                var y = $(this)[0].offsetTop;
                var h = $(this)[0].offsetHeight;
                $(".mod_tag").hide();
                $("#Colormoed_tag").show("slow"); //显示div
                $("#Colormoed_tag").css({ "top": y + h, "left": x });//设置DIV坐标
                CheckedBrandName();
                CheckedChildCategory();
                ProductNoAll();
            });
        });

        function CheckedBrandName() {//商品品牌DIV的确定事件
            $("#brandName").val("");
            var BrandAll = $("#BrandNamemod_tag input:checkbox[checked='checked']");
            var brandNames = "";
            $.each(BrandAll, function () {
                brandNames = brandNames + $(this).parent().text() + ",";
            });
            brandNames = brandNames.substr(0, brandNames.length - 1);
            $("#brandName").val(brandNames);
            $('#BrandNamemod_tag').hide("slow");
        }
        function CheckedChildCategory()//子类别DIV确定事件
        {
            $("#childCategoryname").val("");
            var childCategoryAll = $("#childCategorymod_tag input:checkbox[checked='checked']");
            var childCategoryNames = "";
            $.each(childCategoryAll, function () {
                childCategoryNames = childCategoryNames + $(this).parent().text() + ",";
            });
            childCategoryNames = childCategoryNames.substr(0, childCategoryNames.length - 1);
            $("#childCategoryname").val(childCategoryNames);
            $('#childCategorymod_tag').hide("slow");
        }
        function CheckedColorName() {//色系DIV的确定事件
            $("#colorName").val();
            var ColorAll = $("#Colormoed_tag input:checkbox[checked='checked']");
            var ColorNames = "";
            $.each(ColorAll, function () {
                ColorNames = ColorNames + $(this).parent().text() + ",";
            });
            ColorNames = ColorNames.substr(0, ColorNames.length - 1);
            $("#colorName").val(ColorNames);
            $('#Colormoed_tag').hide("slow");
        }
        function ProductNoAll() {//商品编号DIV确定事件
            var ProductNo = $("#textareaProductNo").val();
            var reg = new RegExp("\n", "g"); //创建正则RegExp对象
            ProductNo = ProductNo.replace(reg, ",");
            $("#ProductNo").val(ProductNo);
            $("#ProductNomod_tag").hide("slow"); //关闭div
        }

        function BrandNameCancel() {//商品品牌DIV取消事件
            $("#brandName").val("");
            $("#BrandNamemod_tag input:checkbox").removeAttr("checked");
            $("#BrandNamemod_tag").hide("slow");
        }
        function ProductNocCancel() {//商品编号DIV取消事件
            $("#ProductNo").val("");
            $("#textareaProductNo").val("");
            $("#ProductNomod_tag").hide("slow"); //关闭div
        }
        function childCategoryCancel()//商品子类别DIV取消事件
        {
            $("#childCategoryname").val("");
            $("#childCategorymod_tag input:checkbox").removeAttr("checked");
            $("#childCategorymod_tag").hide("slow");
        }
        function ColorCencel()//商品色系DIV取消事件
        {
            $("#colorName").val("");
            $("#Colormoed_tag input:checkbox").removeAttr("checked");
            $("#Colormoed_tag").hide("slow");
        }
        function Premise()//点击查询按钮之前把多选框里面的值赋值到文本框
        {
            ProductNoAll();
            CheckedBrandName();
            CheckedChildCategory();
            CheckedColorName();
        }

        //if(){window.location.href=$(this).val()
        function GotoHistory(obj) {
            if ($(obj).val() != "0") {
                window.location.href = $(obj).val()
            }
        }

        function CheckoutInt(obj) {
            if (isNaN($(obj).val())) {
                $(obj).val("");
            }

        }
    </script>
}
<div id="ProductIndexTitle">
    <a @(Html.Raw(Request.Url.ToString().ToLower().IndexOf("/shangpin/apprecommendproductmanger/index") >= 0 ? "class =\"CurTitle\"" : null)) href="/Shangpin/AppRecommendProductManger/Index">全部商品(<font id="fontAllCount">@Model.docCount</font>)</a>
    <a @(Html.Raw(Request.Url.ToString().ToLower().IndexOf("/shangpin/apprecommendproductmanger/apprecommendproductlist") >= 0 ? "class =\"CurTitle\"" : null)) href="/Shangpin/AppRecommendProductManger/AppRecommendProductList?tatolCount=@Model.docCount">推荐商品(<font id="fontSortCount">@Model.SaveProductCount</font>)</a>
</div>
<div class="MoudleTitle">商品查询</div>
<div id="SearchPara" style="height:180px;">
    <form action="/Shangpin/AppRecommendProductManger/Index" method="get">
        <div id="divline" class="divSortLine">
        </div><br />
        <div id="divMain" class="divSortMain">
            <input type="text" id="ProductNo" name="ProductNo" style="width: 140px; color: #666;font-size: 12px;" placeholder="商品编号" value="@Request.QueryString["ProductNo"]" readonly="readonly" />
            <input type="text" name="ProductName" style="width: 140px; color: #666;font-size: 12px;" placeholder="商品名称" value="@Request.QueryString["ProductName"]" />
            @if (Model.ListBrands != null)
            {
                <input type="text" id="brandName" name="brandName" style="width: 200px; color: #666; font-size: 12px;" placeholder="选择商品品牌" readonly="readonly" value="@Request.QueryString["brandName"]" />
                <div class="mod_tag" style="width:500px;" id="BrandNamemod_tag">
                    @*<span style="cursor:pointer;float:right;" onclick="$('input:checkbox[name=\'brandNO\']').removeAttr('checked'); $('#BrandNamemod_tag').hide('slow')" class="close">x</span>*@
                    <p>请选择品牌</p>
                    <div style="overflow-y: scroll; height: 230px;">
                        <ul>
                            @for (int i = 0; i < Model.ListBrands.Count; i++)
                            {
                                <li><input type="checkbox" name="brandNO" @(Request.QueryString["brandNO"] != null && Request.QueryString["brandNO"].Contains(@Model.ListBrands.ElementAt(i).BrandNO) ? "checked='checked'" : null) value="@Model.ListBrands.ElementAt(i).BrandNO" />@Model.ListBrands.ElementAt(i).BrandEnName (@Model.ListBrands.ElementAt(i).BrandChName)</li>
                            }
                        </ul>
                    </div>
                    <div class="button_div">
                        <a class="green" onclick="CheckedBrandName()" name="save" href="javascript:void(0);">确定</a>
                        <a onclick="BrandNameCancel()" name="cancel" href="javascript:void(0);">取消</a>
                    </div>
                </div>
            }

            @if (Model.ListCategorys.Count != 0)
            {
                <input type="text" id="childCategoryname" name="childCategoryname" style="width: 200px; color: #666; font-size: 12px;" placeholder="选择子类别" readonly="readonly" value="@Request.QueryString["childCategoryname"]" />
                <div class="mod_tag" style="width:180px;" id="childCategorymod_tag">
                    @*<span style="cursor:pointer;float:right;" onclick="$('#childCategorymod_tag').hide('slow')" class="close">x</span>*@
                    <p>请选择子类别</p>
                    <div style="overflow-y: scroll; height: 200px;">
                        <ul>
                            @for (int i = 0; i < Model.ListCategorys.Count; i++)
                            {
                                <li><input type="checkbox" name="childCategoryNO" @(Request.QueryString["childCategoryNO"] != null && Request.QueryString["childCategoryNO"].Contains(@Model.ListCategorys.ElementAt(i).CategoryNo) ? "checked='checked'" : null) value="@Model.ListCategorys.ElementAt(i).CategoryNo" />@Model.ListCategorys.ElementAt(i).CateGoryName</li>
                            }

                        </ul>
                    </div>
                    <div class="button_div">
                        <a class="green" onclick="CheckedChildCategory()" name="save" href="javascript:void(0);">确定</a>
                        <a onclick="childCategoryCancel()" name="cancel" href="javascript:void(0);">取消</a>
                    </div>
                </div>
            }
            <input type="text" id="colorName" name="colorName" style="width: 120px; color: #666; font-size: 12px; " placeholder="选择色系" readonly="readonly" value="@Request.QueryString["colorName"]" />
            <div class="mod_tag" style="width:180px;" id="Colormoed_tag">
                @*<span style="cursor:pointer;float:right;" onclick="$('#Colormoed_tag').hide('slow')" class="close">x</span>*@
                <p>请选择色系</p>
                <div style="overflow-y: scroll; height: 200px;">
                    <ul>
                        @for (int i = 0; i < Model.ListColors.Count; i++)
                        {
                            <li><input type="checkbox" name="colorId" @(Request.QueryString["colorId"] != null && Request.QueryString["colorId"].Split(',').Contains(@Model.ListColors.ElementAt(i).ColorNO) ? "checked='checked'" : null) value="@Model.ListColors.ElementAt(i).ColorNO" />@Model.ListColors.ElementAt(i).ColorName</li>
                        }

                    </ul>
                </div>
                <div class="button_div">
                    <a class="green" onclick="CheckedColorName()" name="save" href="javascript:void(0);">确定</a>
                    <a onclick="ColorCencel()" name="cancel" href="javascript:void(0);">取消</a>
                </div>
            </div>
            <input type="hidden" name="categoryType" value="@Request.QueryString["categoryType"]" />
            <input type="hidden" name="isLast" value="@Request.QueryString["isLast"]" />
            <br /><br />

            上架时间：<input type="radio" name="shelfType" value="0" @(Request.QueryString["shelfType"] == "0" ? "checked='checked'" : "")>新上架
            <input type="radio" name="shelfType" @(Request.QueryString["shelfType"] == "1" ? "checked='checked'" : "") value="1">自定义上架时间
            <input id="startTime" name="shelfDateStart" value="@(Request.QueryString["shelfDateStart"])" maxlength="30" class="Wdate" type="text" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',skin:'whyGreen',lang:'zh-cn',isShowClear:true,alwaysUseStartDate:true,readOnly:true,maxDate:'#F{$dp.$D(\'endTime\',{d:0});}'})" />
            <span>至</span>
            <input id="endTime" name="shelfDateEnd" value="@(Request.QueryString["shelfDateEnd"])" maxlength="30" class="Wdate" type="text" readonly="readonly" onclick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm',skin:'whyGreen',lang:'zh-cn',isShowClear:true,alwaysUseStartDate:true,readOnly:true,minDate:'#F{$dp.$D(\'startTime\',{d:0});}'})" />

            <select name="postArea">
                <option value="">全部商品</option>
                <option @(Request.QueryString["postArea"] == "1" ? "selected='selected'" : "") value="1">大陆</option>
                <option @(Request.QueryString["postArea"] == "2" ? "selected='selected'" : "") value="2">海外</option>
            </select>

            @*是否海外商品：<input type="radio" name="postArea" value="1" @(Request.QueryString["postArea"] == "1" ? "checked='checked'" : "") />大陆*@
            @*<input type="radio" name="postArea" value="2" @(Request.QueryString["postArea"] == "2" ? "checked='checked'" : "") />海外*@
            <br /><br />
            商品价格：<input type="text" id="TxtMinPrice" style="width:60px;" placeholder="最小价格" name="MinPrice" value="@Request.QueryString["MinPrice"]" />~
            <input type="text" id="TxtMaxPrice" placeholder="最大价格" style="width:60px;" name="MaxPrice" value="@Request.QueryString["MaxPrice"]" />
            库存深度：<input type="text" style="width:60px;" placeholder="最小库存" id="TxtMinStock" name="MinStock" value="@Request.QueryString["MinStock"]" />~
            <input type="text" placeholder="最大库存" style="width:60px;" id="TxtMaxStock" name="MaxStock" value="@Request.QueryString["MaxStock"]" />
            折扣：<input type="text" style="width:60px;" placeholder="最低折扣" id="TxtMinDiscountRate" name="MinDiscountRate" value="@Request.QueryString["MinDiscountRate"]" />~
            <input type="text" placeholder="最高折扣" style="width:60px;" id="TxtMaxDiscountRate" name="MaxDiscountRate" value="@Request.QueryString["MaxDiscountRate"]" />
            <select name="HotType" id="HotType">
                <option value="-1" selected>全部商品</option>
                <option @(Request.QueryString["HotType"] == "0" ? "selected='selected'" : "") value="0">累计热度</option>
                <option @(Request.QueryString["HotType"] == "1" ? "selected='selected'" : "") value="1">七天热度</option>
            </select>
            <input type="text" style="width:60px;" placeholder="最低热度" id="TxtMinHot" name="MinHot" onblur="CheckoutInt(this)" value="@Request.QueryString["MinHot"]" />~
            <input type="text" placeholder="最高热度" style="width:60px;" id="TxtMaxHot" name="MaxHot" onblur="CheckoutInt(this)" value="@Request.QueryString["MaxHot"]" />
            <br /><br />
            <div class="SearchItem">
                <input type="submit" class="ProductSortBtn" value="查询" onclick="Premise()" />
                <input type="button" class="ProductSortBtn" value="重置" onclick="resetformContent()" />
            </div>
        </div>
    </form>
</div>


<!--产品列表-->
<div class="MoudleTitle">商品列表</div>
<form id="productForm" action="/Shangpin/AppRecommendProductManger/AddProductToAppRecommondAjax?categoryNO=@Request.QueryString["categoryNO"]&ProductNo=@Request.QueryString["ProductNo"]&ProductName=@Request.QueryString["ProductName"]&brandNO=@Request.QueryString["brandNO"]&colorId=@Request.QueryString["colorId"]&shelfType=@Request.QueryString["shelfType"]&ShelfDate=@Request.QueryString["ShelfDate"]&MinPrice=@Request.QueryString["MinPrice"]&MaxPrice=@Request.QueryString["MaxPrice"]&MinStock=@Request.QueryString["MinStock"]&MaxStock=@Request.QueryString["MaxStock"]&MinDiscountRate=@Request.QueryString["MinDiscountRate"]&MaxDiscountRate=@Request.QueryString["MaxDiscountRate"]&pageindex=@Request.QueryString["pageindex"]&categoryType=@Request.QueryString["categoryType"]&isLast=@Request.QueryString["isLast"]" method="post">
    <div id="ProductList">
        @for (int i = 0; i < Model.ListProducts.Count; i++)
        {
            <div class="ProductListItem" productlistindex="0">
                <div class="ProductListItemChk">
                    @if (Model.ListProducts.ElementAt(i).IsSelected == 1)
                    {
                        <input class="ChkProductItem" type="checkbox" disabled="disabled" name="add" value="@Model.ListProducts.ElementAt(i).ProductNo" />
                    }
                    else
                    {
                        <input class="ChkProductItem" type="checkbox" name="productNo" value="@Model.ListProducts.ElementAt(i).ProductNo" />
                    }
                </div>
                <div class="ProductListItemImg">
                    <img src="/ReadPic/GetPic.ashx?width=70&height=107&pictureFileNo=@Model.ListProducts.ElementAt(i).ProductPicFile&type=1" />
                </div>
                <div class="ProductListItemDetail">
                    <ul style="width:300px;">
                        <li><font class="ItemBold">商品编号: </font>@Model.ListProducts.ElementAt(i).ProductNo</li>
                        <li><font class="ItemBold">商品货号: </font>@Model.ListProducts.ElementAt(i).GoodsNo</li>
                        <li><font class="ItemBold">商品名称: </font>@Model.ListProducts.ElementAt(i).ProductName</li>
                        <li><font class="ItemBold">所属品牌: </font>@Model.ListProducts.ElementAt(i).BrandEnName (@Model.ListProducts.ElementAt(i).BrandCnName)</li>
                    </ul>
                    <ul style="width:200px;">
                        <li><font class="ItemBold">可用库存: </font>@Model.ListProducts.ElementAt(i).stock</li>
                        <li><font class="ItemBold">色系: </font>@Model.ListProducts.ElementAt(i).ProductPrimaryColorName</li>
                        <li><font class="ItemBold">折扣: </font>@Model.ListProducts.ElementAt(i).DiscountRate</li>
                        <li><font class="ItemBold">上架时间: </font>@Model.ListProducts.ElementAt(i).DateShelf</li>
                    </ul>
                    <ul style="width:180px;">
                        <li><font class="ItemBold">市场价: </font>@Model.ListProducts.ElementAt(i).MarketPrice</li>
                        <li><font class="ItemBold">售卖价: </font>@Model.ListProducts.ElementAt(i).LimitedPrice</li>
                        <li><font class="ItemBold">累计热度: </font>@Model.ListProducts.ElementAt(i).Hot</li>
                        <li><font class="ItemBold">七天热度: </font>@Model.ListProducts.ElementAt(i).SevenHot</li>
                    </ul>

                </div>
                <div>
                    @if (Model.ListProducts.ElementAt(i).IsSelected == 1)
                    {
                        <a style="margin-top: 30px; color: #f7e7e7; position: inherit; ">已加入推荐</a>
                    }
                    else
                    {
                        <a style="margin-top: 30px; position: inherit; " href="javascript:addSortproduct('@Model.ListProducts.ElementAt(i).ProductNo')">加入推荐</a>
                    }

                </div>
            </div>
        }
    </div>

    <div id="NoProduct">没有查找到任何商品, 请更换搜索条件再次尝试, 谢谢！</div>
    <div id="ProductListBar">
        <div id="ChkCtrl">
            <input type="checkbox" onclick="cheAll(this.checked)" />全选/取消
            <input type="button" value="选中项加入推荐" id="addSortProduct" />
        </div>
        <div class="spPage">
            @Html.Raw(@Html.PagerX("page", pageIndex, 10, Model.docCount, false))
        </div>
    </div>

</form>

@Html.Raw(TempData["tip"])
<div class="mod_tag" style="width:180px;" id="ProductNomod_tag">
    @*<span style="cursor:pointer;float:right;" onclick="$('#textareaProductNo').val(''); $('#ProductNomod_tag').hide('slow')" class="close">x</span>*@
    <p>请输入商品编号(回车隔开)</p>
    <textarea style="overflow-y: scroll; height: 230px;" id="textareaProductNo"></textarea>
    <div class="button_div">
        <a class="green" onclick="ProductNoAll()" name="save" href="javascript:void(0);">确定</a>
        <a onclick="ProductNocCancel() " name="cancel" href="javascript:void(0);">取消</a>
    </div>
</div>






