@{
    Layout = null;
    Shangpin.Ocs.Entity.Extenstion.ShangPin.SWfsMeetingRelationRegionContent obj = null;
    string VenueHrefUrlShow = "http://m.shangpin.com/icfaction!ifcindex?id={0}&MeetingNO={1}&ClickRegionID={2}";
    string ShangpinActiveHrefUrlShow = "http://m.shangpin.com/merchandiseaction!splist?ch=4&topicid={0}&MeetingNO={1}&ClickRegionID={2}";
    string AoLaiActiveHrefUrlShow = "http://m.aolai.com/merchandiseaction!list?ch=3&activityId={0}&pageType=01&typeFlag=1&MeetingNO={1}&ClickRegionID={2}";
    string AoLaiSpecialHrefUrlShow = "http://m.aolai.com/merchandiseaction!list?ch=3&activityId={0}&pageType=03&typeFlag=0&MeetingNO={1}&ClickRegionID={2}";
}
@model IEnumerable<Shangpin.Ocs.Entity.Extenstion.ShangPin.SWfsMeetingRelationRegionContent>

<div class="sp11Box">
    <a id="aolai" name="aolai"></a>
    <h2>
        <img width="320" height="40" src="images/1111/banner002.png" alt="奥莱专区全场99元起"/>
    </h2>
    <p class="sp11Tag">
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B02&categoryname=%E6%9C%8D%E9%A5%B0&gender=0&ch=">服装</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B01&categoryname=%E7%AE%B1%E5%8C%85&gender=0&ch=">箱包</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B03&categoryname=%E9%9E%8B%E9%9D%B4&gender=0&ch=">鞋履</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B04&categoryname=%E9%85%8D%E9%A5%B0&gender=0&ch=">配饰配件</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B05&categoryname=%E5%AE%B6%E5%B1%85&gender=0&ch=">美妆家居</a>
    </p>
    <ul class="sp11List clr">
        @for (int i = 1; i <= 8; i++)
        {
            if (Model.Count(p => p.RegionID == i) == 1)
            {
                obj = Model.Single(p => p.RegionID == i);
                <li opratorRegion="@i" relationtype="@obj.RelationType">
                    @switch (obj.RelationType)
                    {
                        case 2:
                            if (obj.WebSite == 1)
                            {
                                    <a target="_blank" href="@(string.Format(ShangpinActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                        <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                    </a>
                            }
                            else
                            {
                                if (obj.IsActive == 0)
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiSpecialHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                                else
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                            }
                            break;
                        case 3:
                                <a target="_blank" href="@(obj.RelationContent + "?MeetingNO=" + obj.MettingNO + "&ClickRegionID=" + i)">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                        default:
                                <a target="_blank" href="">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                    }
                </li>
            }
            else 
            {
                <li opratorRegion="@i" relationtype="3">
                    
                </li>
            }
        }
    </ul>
</div>
<div class="sp11Box">
    <a id="bags" name="bags"></a>
    <h2>
        <img width="320" height="40" src="images/1111/banner002.png" alt="箱包专区全场3折起"/>
    </h2>
    <p class="sp11Tag">
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B01&categoryname=%E7%AE%B1%E5%8C%85&childcategoryid=A01B01C01&childCategoryname=%E6%89%8B%E6%8F%90%E5%8C%85&gender=0&ch=">手提包</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B01&categoryname=%E7%AE%B1%E5%8C%85&childcategoryid=A01B01C02&childCategoryname=%E8%82%A9%E5%8C%85&gender=0&ch=">肩包</a>
        <a href="javascript:;">钱夹</a>
        <a href="javascript:;">男士斜挎包</a>
        <a href="javascript:;">旅行箱包</a>
    </p>
    <ul class="sp11List clr">
        @for (int i = 9; i <= 16; i++)
        {
            if (Model.Count(p => p.RegionID == i) == 1)
            {
                obj = Model.Single(p => p.RegionID == i);
                <li opratorRegion="@i" relationtype="@obj.RelationType">
                    @switch (obj.RelationType)
                    {
                        case 2:
                            if (obj.WebSite == 1)
                            {
                                    <a target="_blank" href="@(string.Format(ShangpinActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                        <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                    </a>
                            }
                            else
                            {
                                if (obj.IsActive == 0)
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiSpecialHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                                else
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                            }
                            break;
                        case 3:
                                <a target="_blank" href="@(obj.RelationContent + "?MeetingNO=" + obj.MettingNO + "&ClickRegionID=" + i)">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                        default:
                                <a target="_blank" href="">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                    }
                </li>
            }
            else 
            {
                <li opratorRegion="@i" relationtype="3">
                    
                </li>
            }
        }
    </ul>
</div>
<div class="sp11Box">
    <a id="women" name="women"></a>
    <h2>
        <img width="320" height="40" src="images/1111/banner003.png" alt="女装专区全场1折起"/>
    </h2>
    <p class="sp11Tag">
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B02&categoryname=%E6%9C%8D%E9%A5%B0&gender=0&ch=">服装</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B01&categoryname=%E7%AE%B1%E5%8C%85&gender=0&ch=">箱包</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B03&categoryname=%E9%9E%8B%E9%9D%B4&gender=0&ch=">鞋履</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B04&categoryname=%E9%85%8D%E9%A5%B0&gender=0&ch=">配饰配件</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B05&categoryname=%E5%AE%B6%E5%B1%85&gender=0&ch=">美妆家居</a>
    </p>
    <ul class="sp11List clr">
        @for (int i = 17; i <= 24; i++)
        {
            if (Model.Count(p => p.RegionID == i) == 1)
            {
                obj = Model.Single(p => p.RegionID == i);
                <li opratorRegion="@i" relationtype="@obj.RelationType">
                    @switch (obj.RelationType)
                    {
                        case 2:
                            if (obj.WebSite == 1)
                            {
                                    <a target="_blank" href="@(string.Format(ShangpinActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                        <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                    </a>
                            }
                            else
                            {
                                if (obj.IsActive == 0)
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiSpecialHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                                else
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                            }
                            break;
                        case 3:
                                <a target="_blank" href="@(obj.RelationContent + "?MeetingNO=" + obj.MettingNO + "&ClickRegionID=" + i)">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                        default:
                                <a target="_blank" href="">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                    }
                </li>
            }
            else 
            {
                <li opratorRegion="@i" relationtype="3">
                    
                </li>
            }
        }
    </ul>
</div>
<div class="sp11Box">
    <a id="man" name="man"></a>
    <h2>
        <img width="320" height="40" src="images/1111/banner004.png" alt="男装专区全场3折起"/>
    </h2>
    <p class="sp11Tag">
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B02&categoryname=%E6%9C%8D%E9%A5%B0&gender=0&ch=">服装</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B01&categoryname=%E7%AE%B1%E5%8C%85&gender=0&ch=">箱包</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B03&categoryname=%E9%9E%8B%E9%9D%B4&gender=0&ch=">鞋履</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B04&categoryname=%E9%85%8D%E9%A5%B0&gender=0&ch=">配饰配件</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B05&categoryname=%E5%AE%B6%E5%B1%85&gender=0&ch=">美妆家居</a>
    </p>
    <ul class="sp11List clr">
        @for (int i = 25; i <= 32; i++)
        {
            if (Model.Count(p => p.RegionID == i) == 1)
            {
                obj = Model.Single(p => p.RegionID == i);
                <li opratorRegion="@i" relationtype="@obj.RelationType">
                    @switch (obj.RelationType)
                    {
                        case 2:
                            if (obj.WebSite == 1)
                            {
                                    <a target="_blank" href="@(string.Format(ShangpinActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                        <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                    </a>
                            }
                            else
                            {
                                if (obj.IsActive == 0)
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiSpecialHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                                else
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                            }
                            break;
                        case 3:
                                <a target="_blank" href="@(obj.RelationContent + "?MeetingNO=" + obj.MettingNO + "&ClickRegionID=" + i)">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                        default:
                                <a target="_blank" href="">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                    }
                </li>
            }
            else 
            {
                <li opratorRegion="@i" relationtype="3">
                    
                </li>
            }
        }
    </ul>
</div>
<div class="sp11Box">
    <a id="shoes" name="shoes"></a>
    <h2>
        <img width="320" height="40" src="images/1111/banner005.png" alt="鞋靴专区全场3折起"/>
    </h2>
    <p class="sp11Tag">
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B02&categoryname=%E6%9C%8D%E9%A5%B0&gender=0&ch=">服装</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B01&categoryname=%E7%AE%B1%E5%8C%85&gender=0&ch=">箱包</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B03&categoryname=%E9%9E%8B%E9%9D%B4&gender=0&ch=">鞋履</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B04&categoryname=%E9%85%8D%E9%A5%B0&gender=0&ch=">配饰配件</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B05&categoryname=%E5%AE%B6%E5%B1%85&gender=0&ch=">美妆家居</a>
    </p>
    <ul class="sp11List clr">
        @for (int i = 33; i <= 40; i++)
        {
            if (Model.Count(p => p.RegionID == i) == 1)
            {
                obj = Model.Single(p => p.RegionID == i);
                <li opratorRegion="@i" relationtype="@obj.RelationType">
                    @switch (obj.RelationType)
                    {
                        case 2:
                            if (obj.WebSite == 1)
                            {
                                    <a target="_blank" href="@(string.Format(ShangpinActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                        <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                    </a>
                            }
                            else
                            {
                                if (obj.IsActive == 0)
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiSpecialHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                                else
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                            }
                            break;
                        case 3:
                                <a target="_blank" href="@(obj.RelationContent + "?MeetingNO=" + obj.MettingNO + "&ClickRegionID=" + i)">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                        default:
                                <a target="_blank" href="">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                    }
                </li>
            }
            else 
            {
                <li opratorRegion="@i" relationtype="3">
                    
                </li>
            }
        }
    </ul>
</div>
<div class="sp11Box">
    <a id="acce" name="acce"></a>
    <h2>
        <img width="320" height="40" src="images/1111/banner006.png" alt="腕表配饰专区全场1折起"/>
    </h2>
    <p class="sp11Tag">
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B02&categoryname=%E6%9C%8D%E9%A5%B0&gender=0&ch=">服装</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B01&categoryname=%E7%AE%B1%E5%8C%85&gender=0&ch=">箱包</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B03&categoryname=%E9%9E%8B%E9%9D%B4&gender=0&ch=">鞋履</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B04&categoryname=%E9%85%8D%E9%A5%B0&gender=0&ch=">配饰配件</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B05&categoryname=%E5%AE%B6%E5%B1%85&gender=0&ch=">美妆家居</a>
    </p>
    <ul class="sp11List clr">
        @for (int i = 41; i <= 48; i++)
        {
            if (Model.Count(p => p.RegionID == i) == 1)
            {
                obj = Model.Single(p => p.RegionID == i);
                <li opratorRegion="@i" relationtype="@obj.RelationType">
                    @switch (obj.RelationType)
                    {
                        case 2:
                            if (obj.WebSite == 1)
                            {
                                    <a target="_blank" href="@(string.Format(ShangpinActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                        <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                    </a>
                            }
                            else
                            {
                                if (obj.IsActive == 0)
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiSpecialHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                                else
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                            }
                            break;
                        case 3:
                                <a target="_blank" href="@(obj.RelationContent + "?MeetingNO=" + obj.MettingNO + "&ClickRegionID=" + i)">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                        default:
                                <a target="_blank" href="">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                    }
                </li>
            }
            else 
            {
                <li opratorRegion="@i" relationtype="3">
                    
                </li>
            }
        }
    </ul>
</div>
<div class="sp11Box">
    <a id="beauty" name="beauty"></a>
    <h2>
        <img width="320" height="40" src="images/1111/banner007.png" alt="美妆家居专区全场2折起"/>
    </h2>
    <p class="sp11Tag">
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B02&categoryname=%E6%9C%8D%E9%A5%B0&gender=0&ch=">服装</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B01&categoryname=%E7%AE%B1%E5%8C%85&gender=0&ch=">箱包</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B03&categoryname=%E9%9E%8B%E9%9D%B4&gender=0&ch=">鞋履</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B04&categoryname=%E9%85%8D%E9%A5%B0&gender=0&ch=">配饰配件</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B05&categoryname=%E5%AE%B6%E5%B1%85&gender=0&ch=">美妆家居</a>
    </p>
    <ul class="sp11List clr">
        @for (int i = 49; i <= 56; i++)
        {
            if (Model.Count(p => p.RegionID == i) == 1)
            {
                obj = Model.Single(p => p.RegionID == i);
                <li opratorRegion="@i" relationtype="@obj.RelationType">
                    @switch (obj.RelationType)
                    {
                        case 2:
                            if (obj.WebSite == 1)
                            {
                                    <a target="_blank" href="@(string.Format(ShangpinActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                        <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                    </a>
                            }
                            else
                            {
                                if (obj.IsActive == 0)
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiSpecialHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                                else
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                            }
                            break;
                        case 3:
                                <a target="_blank" href="@(obj.RelationContent + "?MeetingNO=" + obj.MettingNO + "&ClickRegionID=" + i)">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                        default:
                                <a target="_blank" href="">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                    }
                </li>
            }
            else 
            {
                <li opratorRegion="@i" relationtype="3">
                    
                </li>
            }
        }
    </ul>
</div>
<div class="sp11Box">
    <a id="sales" name="sales"></a>
    <h2>
        <img width="320" height="40" src="images/1111/banner008.png" alt="样品特卖专区"/>
    </h2>
    <p class="sp11Tag">
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B02&categoryname=%E6%9C%8D%E9%A5%B0&gender=0&ch=">服装</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B01&categoryname=%E7%AE%B1%E5%8C%85&gender=0&ch=">箱包</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B03&categoryname=%E9%9E%8B%E9%9D%B4&gender=0&ch=">鞋履</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B04&categoryname=%E9%85%8D%E9%A5%B0&gender=0&ch=">配饰配件</a>
        <a href="http://m.shangpin.com/categoryproductsaction!getCategoryProducts?categoryid=A01B05&categoryname=%E5%AE%B6%E5%B1%85&gender=0&ch=">美妆家居</a>
    </p>
    <ul class="sp11List clr">
        @for (int i = 57; i <= 61; i++)
        {
            if (Model.Count(p => p.RegionID == i) == 1)
            {
                obj = Model.Single(p => p.RegionID == i);
                <li opratorRegion="@i" relationtype="@obj.RelationType">
                    @switch (obj.RelationType)
                    {
                        case 2:
                            if (obj.WebSite == 1)
                            {
                                    <a target="_blank" href="@(string.Format(ShangpinActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                        <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                    </a>
                            }
                            else
                            {
                                if (obj.IsActive == 0)
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiSpecialHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                                else
                                {
                                        <a target="_blank" href="@(string.Format(AoLaiActiveHrefUrlShow, obj.ActiveNO, obj.MettingNO, i))">
                                            <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                        </a>
                                }
                            }
                            break;
                        case 3:
                                <a target="_blank" href="@(obj.RelationContent + "?MeetingNO=" + obj.MettingNO + "&ClickRegionID=" + i)">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                        default:
                                <a target="_blank" href="">
                                    <img lazy="@(Shangpin.Framework.WebMvc.ServicePic.ResolveUGCImage("2", obj.ImgNO, 290, 420))" width="145" height="210"/>
                                </a>
                                           break;
                    }
                </li>
            }
            else 
            {
                <li opratorRegion="@i" relationtype="3">
                    
                </li>
            }
        }
    </ul>
</div>