@model IEnumerable<Shangpin.Ocs.Entity.Extenstion.ShangPin.SkillProductExtends>
@using Shangpin.Ocs.Web.Infrastructure;
@using Shangpin.Ocs.Entity.Extenstion.ShangPin;
@using Shangpin.Entity.Wfs
@{
    ViewBag.Title = "频道产品管理";
    Layout = "~/Areas/Shangpin/Views/Shared/_Layout.cshtml";
    int pageIndex = ViewBag.pageIndex;
    int pageSize = ViewBag.pageSize;
    int totalCount = ViewBag.totalCount;
    string groupid = Request.QueryString["groupid"];
    
    Shangpin.Ocs.Service.Shangpin.SWfsBrandService dal = new Shangpin.Ocs.Service.Shangpin.SWfsBrandService();
    IList<ErpCategory> allfirstCategory = dal.SelectErpCategoryByParentNo("ROOT");
    IList<ErpCategory> secondCategoryList = null;
    IList<ErpCategory> thirdCategoryList = null;
    IList<ErpCategory> fourCategoryList = null;
    string requestCategoryNo = Request.QueryString["CategoryNo"] != null ? Request.QueryString["CategoryNo"].ToUpper() : null;
    if (requestCategoryNo != null)
    {
        if (requestCategoryNo.Length == 3)
        {
            allfirstCategory.Single(p => p.CategoryNo == requestCategoryNo).ParentNo = "0";
        }
        if (requestCategoryNo.Length == 6)
        {
            if (allfirstCategory.Count(p => p.CategoryNo == requestCategoryNo.Substring(0, 3)) > 0)
            {
                allfirstCategory.Single(p => p.CategoryNo == requestCategoryNo.Substring(0, 3)).ParentNo = "0";
            }
            secondCategoryList = dal.SelectErpCategoryByParentNo(requestCategoryNo.Substring(0, 3));
            if (secondCategoryList.Count(p => p.CategoryNo == requestCategoryNo) > 0)
            {
                secondCategoryList.Single(p => p.CategoryNo == requestCategoryNo).ParentNo = "0";
            }
        }
        if (requestCategoryNo.Length == 9)
        {
            if (allfirstCategory.Count(p => p.CategoryNo == requestCategoryNo.Substring(0, 3)) > 0)
            {
                allfirstCategory.Single(p => p.CategoryNo == requestCategoryNo.Substring(0, 3)).ParentNo = "0";
            }
            secondCategoryList = dal.SelectErpCategoryByParentNo(requestCategoryNo.Substring(0, 3));
            if (secondCategoryList.Count(p => p.CategoryNo == requestCategoryNo.Substring(0, 6)) > 0)
            {
                secondCategoryList.Single(p => p.CategoryNo == requestCategoryNo.Substring(0, 6)).ParentNo = "0";
            }
            thirdCategoryList = dal.SelectErpCategoryByParentNo(requestCategoryNo.Substring(0, 6));
            if (thirdCategoryList.Count(p => p.CategoryNo == requestCategoryNo) > 0)
            {
                thirdCategoryList.Single(p => p.CategoryNo == requestCategoryNo).ParentNo = "0";
            }
        }
        if (requestCategoryNo.Length == 12)
        {
            if (allfirstCategory.Count(p => p.CategoryNo == requestCategoryNo.Substring(0, 3)) > 0)
            {
                allfirstCategory.Single(p => p.CategoryNo == requestCategoryNo.Substring(0, 3)).ParentNo = "0";
            }
            secondCategoryList = dal.SelectErpCategoryByParentNo(requestCategoryNo.Substring(0, 3));
            if (secondCategoryList.Count(p => p.CategoryNo == requestCategoryNo.Substring(0, 6)) > 0)
            {
                secondCategoryList.Single(p => p.CategoryNo == requestCategoryNo.Substring(0, 6)).ParentNo = "0";
            }
            thirdCategoryList = dal.SelectErpCategoryByParentNo(requestCategoryNo.Substring(0, 6));
            if (thirdCategoryList.Count(p => p.CategoryNo == requestCategoryNo.Substring(0, 9)) > 0)
            {
                thirdCategoryList.Single(p => p.CategoryNo == requestCategoryNo.Substring(0, 9)).ParentNo = "0";
            }
            fourCategoryList = dal.SelectErpCategoryByParentNo(requestCategoryNo.Substring(0, 9));
            if (fourCategoryList.Count(p => p.CategoryNo == requestCategoryNo) > 0)
            {
                fourCategoryList.Single(p => p.CategoryNo == requestCategoryNo).ParentNo = "0";
            }
        }
    }
}

<h1>
    OCS > 尚品 > <a href="/Shangpin/channel/ChannelList">频道页列表</a> > <a href="/shangpin/channel/ChannelProductGroupManager?channelno=@(Request.QueryString["channelno"])">商品组管理</a> > 商品列表
</h1>
<form action="/Shangpin/channel/ChannelProductList" method="get">
<div style="padding: 5px;">
    <input type="hidden" value="@requestCategoryNo" name="CategoryNo" id="CategoryNo"/>
    <input type="hidden" value="@(Request.QueryString["groupid"])" name="groupid" id="groupid"/>
    <input type="hidden" value="@(Request.QueryString["channelno"])" name="channelno" id="channelno"/>
    品类:
    <select style="width: 100px;" id="select1"  onchange="oneChange(this.value);">
                <option value="0">一级品类-- </option>
                @foreach (ErpCategory category in allfirstCategory)
                {
                    <option value="@category.CategoryNo" @(category.ParentNo == "0" ? "selected=selected" : null) >@category.CategoryName
                    </option>
                }
     </select>
     <select style="width: 100px;" id="select2"  onchange="twoChange(this.value);">
        <option value="0">二级品类-- </option>
        @if (secondCategoryList != null)
        {
            foreach (ErpCategory category in secondCategoryList)
            {
            <option value="@category.CategoryNo" @(category.ParentNo == "0" ? "selected=selected" : null) >@category.CategoryName
            </option>
            }
        }
     </select>
     <select style="width: 100px;" id="select3"  onchange="threeChange(this.value);">
        <option value="0">三级品类-- </option>
        @if (thirdCategoryList != null)
        {
            foreach (ErpCategory category in thirdCategoryList)
            {
            <option value="@category.CategoryNo" @(category.ParentNo == "0" ? "selected=selected" : null) >@category.CategoryName
            </option>
            }
        }
     </select>
     <select style="width: 100px;" id="select4" onchange="fourChange(this.value)">
        <option value="0">四级品类-- </option>
        @if (fourCategoryList != null)
        {
            foreach (ErpCategory category in fourCategoryList)
            {
            <option value="@category.CategoryNo" @(category.ParentNo == "0" ? "selected=selected" : null) >@category.CategoryName
            </option>
            }
        }
     </select>
     &nbsp;
     @if (string.IsNullOrEmpty(Request.QueryString["brandno"]))
     {
        <input type="text" name="BrandName" id="BrandName" style="width: 120px; color: #666;font-size: 12px;" placeholder="请选择品牌"/>    
     }
     else
     {
        <input type="text" name="BrandName" id="BrandName" style="width: 120px; color: #666;font-size: 12px;" value="@Request.QueryString["BrandName"]" placeholder="请选择品牌" />
     }
     <input id="BrandNo" name="BrandNo" type="hidden" value="@Request.QueryString["brandno"]" />
     &nbsp;
     <select id="Gender" style="width: 100px" name="Gender">
        <option value="">男女款</option>
        <option value="0" @(Request.QueryString["Gender"] == "0" ? "selected=selected" : null)>女士</option>
        <option value="1" @(Request.QueryString["Gender"] == "1" ? "selected=selected" : null)>男士</option>
        <option value="2" @(Request.QueryString["Gender"] == "2" ? "selected=selected" : null)>中性</option>
     </select>
     <select name="IsShelf" style="width: 100px">
        <option value="" @(Request.QueryString["IsShelf"] == "" ? "selected=selected" : null)>上架状态 </option>
        <option value="1" @(Request.QueryString["IsShelf"] == "1" ? "selected=selected" : null)>未上架 </option>
        <option value="2" @(Request.QueryString["IsShelf"] == "2" ? "selected=selected" : null)>已上架 </option>
        <option value="3" @(Request.QueryString["IsShelf"] == "3" ? "selected=selected" : null)>已下架 </option>
     </select>
     &nbsp;
    货号/名称/编号
    <input type="text" value="@ViewBag.keyWord" style="" name="keyWord"/>
    <button type="submit">
        提交查询</button>
</div>
</form>

@*<input type="button" value="批量添加" onclick="$('#addProductListAreas').show('slow')"/>
<div id="addProductListAreas" style="display:none;">
    <textarea id="addProductListText" cols="95" rows="5" ></textarea>注:多个产品编号用逗号隔开(逗号用英文输入法)
    <div>
        <input type="button" value="确定" onclick="addProductNoList()"/>
        <input type="button" value="取消" onclick="$('#addProductListAreas').hide('slow')"/>
    </div>
</div>*@
<form id="idlistform" action="/shangpin/channel/DeleteProductByIdList?groupid=@(Request.QueryString["groupid"])&channelno=@(Request.QueryString["channelno"])" method="post">
<table class="mx-table" border="0">
    <thead>
        <tr>
            <th><input type="checkbox" onclick="GetCheckAll(this)"/></th>
            <th colspan="6">商品信息</th>   
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            Shangpin.Ocs.Service.Outlet.SWfsProductService service = new Shangpin.Ocs.Service.Outlet.SWfsProductService();
            foreach (var item in Model)
            {
                Shangpin.Ocs.Entity.Extenstion.Outlet.ProductInventory inventory = service.GetInventoryByProductNo(item.ProductNo);
                
                    <tr>
                        <td>
                            <input type="checkbox" value="@item.Id" name="objID"/>
                        </td>
                     @*   <td>
                            <img class="upimg" width="70" height="107" style="cursor:pointer;"  skillid="@item.Id" imgno="@item.ProductFileNo" src="/ReadPic/GetPic.ashx?width=70&height=107&pictureFileNo=@item.ProductFileNo&type=2" alt="上传图片"/>
                        </td>*@
                        <td >
                            <img width="70" height="107" src="/ReadPic/GetPic.ashx?width=70&height=107&pictureFileNo=@item.ProductPicFile&type=1" />
                        </td>
                        <td class="lt">
                            商品编号：@item.ProductNo<br/>
                            商品货号：@item.GoodsNo<br/>
                            商品名称：@item.ProductName<br/>
                            所属品牌: @item.BrandEnName (@item.BrandCnName)<br />
                            可用库存：@inventory.SumQuantity<br />
                            锁定库存：@inventory.SumLockQuantity<br />
                            @if (item.IsShelf==1)
                            {
                                <text>未上架</text>
                            }
                            else if(item.IsShelf==2)
                            {
                                <text>已上架</text>
                            }
                            else if(item.IsShelf==3)
                            {
                                <text>已下架</text>
                            }
                        </td>
                        <td class="lt">
                            市场价:@item.MarketPriceRegion<br/>
                            尚品价:@item.StandardPriceRegion<br />
                            黄金价:@item.GoldPriceRegion<br />
                            白金价:@item.PlatinumPriceRegion<br/>
                            钻石价:@item.DiamondPriceRegion<br/>
                            <span style="color:Red;">促销价:@item.PromotionPriceRegion </span>
                        </td>
                        <td>
                            <input type="text" objid="@item.Id" value="@item.SortValue" style="width:50px;" maxlength="6" onblur="updateSortValue(this)"/>
                        </td>
                        <td>
                            <a class="button" onclick="return confirm('是否删除')" href="/shangpin/channel/DeleteProduct/@item.Id?groupid=@(Request.QueryString["groupid"])&channelno=@(Request.QueryString["channelno"])">移除</a>
                        </td>
                    </tr>
            }
        }
        <tr>
            <td colspan="2"><a class="button" href="javascript:deleteSkillProduct();">删除所选</a></td>
            <td colspan="4"></td>
        </tr>
    </tbody>
</table>
</form>
<div class="spPage">
    @if (totalCount > 0)
    {
        @Html.Raw(@Html.PagerX("page", pageIndex, pageSize, totalCount))
    }
</div>
<div id="mx-rightcontent-fixbar" class="clr">
<a id="mx-btn-add" title="添加促销商品" href="/Shangpin/channel/AboutProductList?groupid=@(Request.QueryString["groupid"])&channelno=@(Request.QueryString["channelno"])"></a>
</div>
@section HeadScript{
    <script src="/Areas/Shangpin/Scripts/Venue/jquery.form.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/Areas/Outlet/Scripts/plug/ERPBrand.js"></script>
    <script type="text/javascript">
        var oneChange = function (objvalue) {
            if (objvalue == 0) {
                $("#CategoryNo").val("");
                return;
            }
            $("#select2").html("<option value='0'>二级品类-- </option>");
            $("#select3").html("<option value='0'>三级品类-- </option>");
            $("#select4").html("<option value='0'>四级品类-- </option>");
            $("#CategoryNo").val(objvalue);
            $.post("/Shangpin/Brand/GetErpCategoryChildList.html", { 'pNo': objvalue }, function (data) {
                $("#select2").append(data);
            });
        }
        var twoChange = function (objvalue) {
            if (objvalue == 0) {
                $("#CategoryNo").val($("#CategoryNo").val().substr(0, 3));
                return;
            }
            $("#select3").html("<option value='0'>三级品类-- </option>");
            $("#select4").html("<option value='0'>四级品类-- </option>");
            $("#CategoryNo").val(objvalue);
            $.post("/Shangpin/Brand/GetErpCategoryChildList.html", { 'pNo': objvalue }, function (data) {
                $("#select3").append(data);
            });
        }
        var threeChange = function (objvalue) {
            if (objvalue == 0) {
                $("#CategoryNo").val($("#CategoryNo").val().substr(0, 6));
                return;
            }
            $("#select4").html("<option value='0'>四级品类-- </option>");
            $("#CategoryNo").val(objvalue);
            $.post("/Shangpin/Brand/GetErpCategoryChildList.html", { 'pNo': objvalue }, function (data) {
                $("#select4").append(data);
            });
        }
        var fourChange = function (objvalue) {
            if (objvalue == 0) {
                $("#CategoryNo").val($("#CategoryNo").val().substr(0, 9));
                return;
            }
            $("#CategoryNo").val(objvalue);
        }
        //全选
        var checkAll = function (obj) {
            $("tbody input:checkbox[name='productNO']").attr("checked", obj.checked);
        }
        //未选中提示
        var addProduct = function () {
            if ($("input:checkbox[name='productNO'][checked='checked']").length > 0) {
                $('#idlist').submit();
            } else {
                alert("请选择产品");
            }
        }
        //添加商品编号
        var addProductNoList = function () {
            if (document.getElementById("addProductListText").value.trim().length <= 0) {
                alert("请输入产品编号");
                return;
            }
            $.post("/Shangpin/channel/AddProductNOList", { 'groupid': '@groupid', 'productNO': document.getElementById("addProductListText").value }, function (data) {
                if (data > 0) {
                    alert("添加成功");
                    document.getElementById("addProductListText").value = "";
                    //window.location.href = gettimestampurl(window.location.href);
                    window.location.reload();
                } else {
                    alert("添加失败");
                }
            });
        }
    </script>
    <script type="text/javascript">
        var imgobj = "";
        //隐藏层
        function hidendiv() {
            $('#windownBG').remove();
            $('#upSkillImg').hide();
        }
        
        $(document).ready(function () {
            $("#BrandName").selectBrand('BrandNo', 'BrandName', false, '', '');
            $(".upimg").click(function () {
                imgobj = $(this);
                $("body").append('<div id="windownBG" style="height:' + $(document).height() + 'px;opacity:0.5;z-index: 9999;display:block;left:0px;top:0px;position:absolute;width:100%;background: none repeat scroll 0 0 #000000;"></div>');
                $("#upimg").attr("src", "/ReadPic/GetPic.ashx?width=70&height=107&pictureFileNo=" + $(this).attr("imgno") + "&type=2");
                $("#imgNO").val($(this).attr("imgno"));
                $("#skillId").val($(this).attr("skillid"));
                $("#upSkillImg").css({ 'top': ($(window).height() / 2) - ($("#upSkillImg").height() / 2) + $(window).scrollTop(), 'left': ($(window).width() / 2) - ($("#upSkillImg").width() / 2), 'display': 'block', 'z-index': '99999' });
            });
        });
        //异步上传图片
        function upimgfile() {
            //$("#upimgform").attr("action", "/shangpin/venue/UpSkillProductImg");

            $("#upimgform").ajaxSubmit(function (data) {
                data = eval("(" + data + ")");
                if (data.status == 0) {
                    alert(data.message);
                } else {
                    $('#windownBG').remove();
                    $('#upSkillImg').hide();
                    imgobj.attr("src", "/ReadPic/GetPic.ashx?width=70&height=107&pictureFileNo=" + data.message + "&type=2");
                    imgobj.attr("imgno",data.message);
                    $("#imgfile").val("");
                }
            });
        }
        //批量添加商品编号
        function addProductNoList() {
            if (document.getElementById("addProductListText").value.trim().length <= 0) {
                alert("请输入产品编号");
                return;
            }
            $.post("/Shangpin/channel/AddProductNOList", { 'groupid': '@groupid', 'productNO': document.getElementById("addProductListText").value }, function (data) {
                if (data > 0) {
                    alert("添加成功");
                    document.getElementById("addProductListText").value = "";
                    window.location.reload();
                } else {
                    alert("添加失败");
                }
            });
        }
        //更新排序
        function updateSortValue(obj) {
            $.get("/shangpin/channel/SaveProductSort", { "id": $(obj).attr("objid"), "sortValue": $(obj).val() }, function (data) {
                if (data > 0) {
                    //alert("更新排序成功");
                } else {
                    alert("更新排序失败");
                }
            });
        }
        //全选
        function GetCheckAll(obj) {
            $(".mx-table input:checkbox[name='objID']").attr("checked",obj.checked);
        }
        //批量删除
        var deleteSkillProduct = function () {
            if ($(".mx-table input:checkbox[name='objID'][checked='checked']").length > 0) {
                $('#idlistform').submit();
            } else {
                alert("请选择产品");
            }
        }
    </script>
}

 @section hiddendiv{
    <div id="upSkillImg" style="width:500px;height:200px;background-color:White;display:none;position:absolute;">
        <div style="text-align:right;"><a href="javascript:hidendiv();">关闭</a></div>
        <form action="/shangpin/channel/UpSkillProductImg" method="post" id="upimgform" enctype="multipart/form-data">
            <table class="mx-table">
                <tr>
                    <td>图片上传:</td>
                    <td>
                        <img src="" id="upimg"  width="70" height="107"/>
                        <span style="color:Red;">请上传120*224</span>
                        <input type="file" name="imgfile" id="imgfile"/>
                        
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <a href="javascript:upimgfile()" class="button">确定</a>
                        <a href="javascript:hidendiv()" class="button">取消</a>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="imgNO" id="imgNO"/>
            <input type="hidden" name="skillId" id="skillId"/>
        </form>
    </div>
 }

