@using Shangpin.Entity.Wfs
@using Shangpin.Ocs.Web.Infrastructure
@model Shangpin.Entity.Wfs.SWfsMobileAd
@{
    Layout = null;
    List<SWfsChannel> channelList = ViewBag.ChannelList;
}
@section HeadScript{
    <script type="text/javascript" src="/Areas/Outlet/Scripts/plug/comm.js"></script>
}
<div class="crumb">
    <a href="#">频道移动端内容管理</a> &gt; 修改广告 <a href="#" class="closeBtn">&times;</a></div>
<div class="mx-rightcontent-msgbox" id="mx-rightcontent-addbox">
    <form id="formEdit" method="post" action="/outlet/MobileAD/EditMobileAD" enctype="multipart/form-data">
    <input type="hidden" value="@Model.ID" name="ID" id="ID" />
    <input type="hidden" value="@Model.ChannelNo" name="channelNo" id="channelNo" />

    <dl>
        <dt style="color: Red">广告名称: </dt>
        <dd>
            <input id="Name" name="Name" type="text" value="@Model.Name" maxlength="15" />
        </dd>
    </dl>
    <dl>
        <dt style="color: red">广告状态: </dt>
        <dd>
            <input id="Status1" name="Status" type="radio" value="1" @(Model.Status==1?"checked='checked'":"") />开启
            <input id="Status0" name="Status" type="radio" value="0" @(Model.Status==0?"checked='checked'":"") />关闭
        </dd>
    </dl>
    <dl>
        <dt style="color: Red">展示时间: </dt>
        <dd>
            <input id="DateBegin" name="DateBegin" class="Wdate" value="@(Model.DateBegin == Convert.ToDateTime("1900-1-1") ? "" : Model.DateBegin.ToString("yyyy/MM/dd HH:mm:ss"))" type="text" onclick="WdatePicker({dateFmt:'yyyy/MM/dd HH:mm:00'})" readonly="readonly" />
            <input id="DateEnd" name="DateEnd" class="Wdate" value="@(Model.DateEnd == Convert.ToDateTime("1900-1-1") ? "" : Model.DateEnd.ToString("yyyy/MM/dd HH:mm:ss"))" type="text" onclick="WdatePicker({dateFmt:'yyyy/MM/dd HH:mm:00'})" readonly="readonly" />
        </dd>
    </dl>
    <dl>
        <dt style="color: Red">上传图片: </dt>
        <dd>
            <input id="AdPic" type="file" name="AdPic" />
            <label style="color: Red; font-size: small">
               尺寸：608*380 小于150kb jpg、png</label><br />
            <img alt="" src="/ReadPic/GetPic.ashx?width=100&height=60&pictureFileNo=@Model.AdPic&type=2" />
        </dd>
    </dl>
    <dl>
        <dt style="color: Red">展示序号: </dt>
        <dd>
            <input id="Sort" name="Sort" type="text" value="@Model.Sort" onkeyup="this.value=this.value.replace(/\D/g,'')" onblur="this.value=this.value.replace(/\D/g,'')"  />
        </dd>
    </dl>
    <dl>
        <dt style="color: red">展示方式: </dt>
        <dd>
            <input id="ShowType1" name="ShowType" type="radio" value="1" @(Model.ShowType==1?"checked=checke'":"")  onclick="ChangeShowType(this.value);"/>尚品客户端
            <input id="ShowType2" name="ShowType" type="radio" value="2" @(Model.ShowType==2?"checked=checked":"")  onclick="ChangeShowType(this.value);"/>进入频道页
            <input id="ShowType3" name="ShowType" type="radio" value="3" @(Model.ShowType==3?"checked=checked":"")  onclick="ChangeShowType(this.value);"/>自定义连接
        </dd>        
        <dt>&nbsp;</dt>
        <dd>
            <select id="channelList" name="channelList" )>
                <option value="3">首页</option>
                <option value="0">女士</option>
                <option value="1">男士</option>
                <option value="2">儿童</option>
                @foreach (var item in channelList)
                {
                    <option value="@item.ChannelNo" @(Model.ShowUrl==item.ChannelNo? "selected='selected'":"")>@item.ChannelName</option>
                }
            </select>
            <input id="ShowUrl" name="ShowUrl" type="text" value="@(string.IsNullOrEmpty(Model.ShowUrl) ? "http://" : Model.ShowUrl)" onfocus="if(this.value == 'http://') this.value = ''" onblur="if(this.value == '') this.value = 'http://'" />
        </dd>            
    </dl>
    <dl>
        <dt>&nbsp;</dt>
        <dd>
            <button type="button" id="btnSave" name="" value="" class="secondary" onclick="return checkSubmit();">
                确 定</button>
            <button type="button" id="btnCancle" name="" value="" onclick="Cancle();">
                取 消</button>
        </dd>
    </dl>
    </form>
</div>
<script type="text/javascript" language="javascript">
    $(function () { 
        var showtype = @ViewBag.ShowType;
        ChangeShowType(showtype);
    });
    function ChangeShowType(value) {
        if (value == 2) {
            $("#channelList").show();
            $("#ShowUrl").hide();
        } else if (value == 3) {
            $("#ShowUrl").show();
            $("#channelList").hide();
        } else {
            $("#ShowUrl").hide();
            $("#channelList").hide();
        }
    }
    function checkSubmit() {    
        if ($("#Name").val() == "") {
            alert("请填写广告名称!");
            return false;
        }
        var showBeginTime = $("#DateBegin").val();
        var showEndTime = $("#DateEnd").val();        
        if (showBeginTime == "" || showEndTime == "") {
            alert("展示时间不能为空！");
            return false;
        }
        var begin = new Date(showBeginTime.replace(/-/g, "/"));
        var end = new Date(showEndTime.replace(/-/g, "/"));
        var start =  new Date("@(Model.DateBegin)");
        if(start.dateFormat("yyyy/MM/dd HH:mm:00")!=showBeginTime.toString()){
        if (begin.dateFormat("yyyy/MM/dd HH:mm:00") < new Date().dateFormat("yyyy/MM/dd HH:mm:00")) {
            alert("展示开始时间不能小于当前时间！");
            return false;
        }
        }
        if (begin - end >= 0) {
            alert("展示结束时间必须大于开始时间！");
            return false;
        }
        var sort = $("#Sort").val();
        if (sort == "") {
            alert("请填写展示序号！");
            return false;
        }
        var showType = $("input[name='ShowType']:checked").val();
        var url = $("#ShowUrl").val();
        if (showType == 3) {
            if (url == "" || url == "http://") {
                alert("请填写连接地址！");
                return false;
            }
        }

        $("#formEdit").ajaxSubmit({
            success: function (html, status) {
                var data;
                if (typeof (html) == "string") {
                    html = html.substring(html.indexOf("{"), html.indexOf("}") + 1);
                    data = eval("(" + html + ")");
                }
                else {
                    data = html;
                }
                if (data.reslut == "1") {
                    alert(data.message);
                    window.location.href = gettimestampurl(window.location.href);
                }
                else {
                    alert(data.message);
                    //window.location.href = gettimestampurl(window.location.href);
                }
            }
        });
    }

    function Cancle() {
        $("#mx-rightcontent-fixbarbg").css({ "height": 79, "overflow-y": "hidden" });
        //$("#mx-rightcontent-fixbar").css({ "bottom": 0 });
    };
    $("#mx-rightcontent-fixbarbg .crumb").on("click", function () {
        Cancle();
        return false;
    });
</script>